/ {
     chosen {
             zephyr,console = &cdc_acm_uart0;
     };
};

&zephyr_udc0 {
     cdc_acm_uart0: cdc_acm_uart0 {
             compatible = "zephyr,cdc-acm-uart";
             label = "CDC_ACM_0";
     };
};

&arduino_i2c {
    vl53l0x: vl53l0x@30 {
		compatible = "st,vl53l0x";
		reg = <0x29>;
		xshut-gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>;
	};
};

&i2c1 {
	lis3mdl_magn_x_nucleo_iks01a1: lis3mdl-magn@1e {
		compatible = "st,lis3mdl-magn";
		reg = <0x1e>;
	};

	lsm6ds0_x_nucleo_iks01a1: lsm6ds0@6b {
		compatible = "st,lsm6ds0";
		reg = <0x6b>;
	};
};
